.hero {
    background-image: url(../../img/images.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1700px 1130px;
    overflow: hidden;
    box-shadow: inset 1700px 1130px rgba(32, 38, 71, 0.7);
    flex-wrap: wrap;
}

.hero__block {
    max-width: 1600px;
    height: 630px;
    position: relative;
    .block__title__master {
        width: 500px;
        height: 100%;
        float: right;

        margin-right: 150px;

        button {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            /* identical to box height */
            padding: 10px 40px;
            float: right;
            margin-top: 50px;
            color: white;
            background-color: green;
            border: none;
            border-radius: 5px;
            text-align: center;

        }

        h1 {
            color: white;
            font-family: cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 64px;
            text-align: right;
            margin-top: 80px;
            padding: 20px 0px;
        }

        .p2 {
            padding: 20px 10px;
        }

        p {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
            color: white;
            padding: 10px 0px;
            text-align: right;
        }
    }

    .radius__block {
        width: 800px;
        height: 100%;

        border-bottom-right-radius: 30%;
        border-top-right-radius: 30%;
        background-image: url(../../img/radius_image.png);
        background-repeat: no-repeat;
        background-size: 900px 700px;
        float: left;
    }


}

.hero__aksiya {
    position: absolute;
    width: 443px;
    height: 91px;
    left: 579px;
    top: 678px;
    background: #ffffff;
    border: 1px solid #00D465;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    p {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align:center;
        color: #00D465;
        margin-top: 20px;
    }
}
@media (max-width:1500px){
    .hero__block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block__title__master{
        text-align: center;
        float: none;
        position: absolute;
        
    }
    .radius__block{
        display: none;
    }
}
@media (max-width:1000px){
    .hero__block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block__title__master{
        text-align: center;
        float: none;
        position: absolute;
        left: 200px;
    }
    .radius__block{
        display: none;
    }
    .hero__aksiya{
        left: 200px;
    }
}
@media (max-width:700px){
    .hero__block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block__title__master{
        text-align: center;
        float: none;
        position: absolute;
        left: 30px;
    }
    .radius__block{
        display: none;
    }
    .hero__aksiya{
        left: 100px;
    }
}
@media (max-width:765px){
    .hero__block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block__title__master{
        text-align: center;
        float: none;
        position: absolute;
        left: 210px;
    }
    .radius__block{
        display: none;
    }
    .hero__aksiya{
        left: 130px;
    }
}